<nz-modal
  [nzVisible]="visible"
  [nzTitle]="isEditMode ? 'Cập nhật tỉnh' : 'Thêm mới tỉnh'"
  [nzClosable]="true"
  [nzMaskClosable]="false"
  [nzWidth]="700"
  [nzOkText]="isEditMode ? 'Cập nhật' : 'Thêm mới'"
  [nzOkLoading]="submitting"
  [nzCancelText]="'Hủy'"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
>
  <ng-container *nzModalContent>
    <nz-spin [nzSpinning]="loading">
      <form nz-form [formGroup]="form" nzLayout="vertical">
        <div class="row">
          <div class="col-md-6">
            <nz-form-item>
              <nz-form-label nzRequired>Mã tỉnh</nz-form-label>

              <nz-form-control [nzErrorTip]="getErrorMessage('code')">
                <input
                  nz-input
                  formControlName="code"
                  placeholder="Nhập mã tỉnh"
                  [disabled]="isEditMode && !isCodeEditable"
                  [ngStyle]="{'background-color': isEditMode && !isCodeEditable ? '#f5f5f5' : 'white', 'cursor': isEditMode && !isCodeEditable ? 'not-allowed' : 'auto'}"
                />
              </nz-form-control>
            </nz-form-item>
          </div>

          <div class="col-md-6">
            <nz-form-item>
              <nz-form-label nzRequired>Tên tỉnh</nz-form-label>
              <nz-form-control [nzErrorTip]="getErrorMessage('name')">
                <input
                  nz-input
                  formControlName="name"
                  placeholder="Nhập tên tỉnh"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

      </form>
    </nz-spin>
  </ng-container>
</nz-modal>
